<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eDaro</title>
</head>

<body>
    <h1>eDaro</h1>
    

    <h2>Explore the Project:</h2>
    <ul>
        <li><a href="{{ url_for('owner_list') }}">Owners</a></li>
        <li><a href="{{ url_for('school_list') }}">Schools</a></li>
        <li><a href="{{ url_for('educator_list') }}">Educators</a></li>
        <li><a href="{{ url_for('student_list') }}">Students</a></li>
        <li><a href="{{ url_for('room_list') }}">Classes</a></li>
        <li><a href="{{ url_for('assessment_list') }}">Assessments</a></li>
        <li><a href="{{ url_for('resource_list') }}">Resources</a></li>
        <li><a href="{{ url_for('drive_list') }}">Drives</a></li>
        <li><a href="{{ url_for('note_list') }}">Notes</a></li>
    </ul>
</body>

</html>
